body {
  background-color: #33322e;
  color: #ffffff;
}

.navbar,
footer {
  background-color:#212121;
}

#principal {
  margin-top: 80px;
}

.noPadd {
  padding: 0;
}

.noMarg {
  margin: 0;
}

.ubica {
  margin-top: 7rem;
}

.txtPagAdmin {
  color: white;
}

/* REDES SOCIALES */
.redes {
  font-size: 30px;
  color: #ffffff;
  opacity: 0.7;
}

.redes:hover {
  color: #ffffff;
  font-size: 32px;
  opacity: 1;
}

/* DESTACADA */
.fondoOscuro {
  text-shadow: 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 20px #0f0f0f,
    0 0 40px #0f0f0f, 0 0 80px #0f0f0f, 0 0 90px #0f0f0f, 0 0 100px #0f0f0f,
    0 0 150px #0f0f0f;
}

.btn-destacada, .btnFormulario {
    background-color: #00a8b1;
    color: white;
    width: 150px;
    height: 40px;
}

.btn-destacada:hover {
  color: #33322e;
}

/* IMAGENES */
.efectosImg {
    opacity: 0.6;
    position: relative;
}

.efectosImg:hover {
    opacity: 1;
    transition: all .5s ease-in-out;
    top: -5px;
    right: 5px;
    box-shadow: 5px 6px 7px 0px #00A8B1;
}

/* LOGIN */
#olvidasteContrasenia, #terminos{
  color: #00a8b1;
}

#olvidasteContrasenia:hover{
  color: #ffffff;
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
  #tituloError {
    font-size: xx-large;
  }

  .fondoOscuro {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn-destacada {
    font-size: 10px;
  }

  .titulo {
    font-size: small;
  }

  .redes {
    font-size: 25px;
  }

  #trailer {
    width: 330px;
    height: 187px;
    margin: auto;
  }
  
}

.txtModAdmin {
  color: rgb(255, 255, 255);
}

.botonRepro {
  text-decoration: none;
  color: #ffffff;
  background: #00a8b1;
}

.botonRepro:hover {
  text-decoration: none;
  color: #ffffff;
  background: #00a8b1;
}
.pointer {
  cursor: pointer;
}
/* IMAGENES */
.efectosImg {
    opacity: 0.6;
    position: relative;
}

.efectosImg:hover {
    opacity: 1;
    transition: all .5s ease-in-out;
    top: -5px;
    right: 5px;
    box-shadow: 5px 6px 7px 0px #00A8B1;
}

.texto{
  color: #00a8b1;

}.avatar{
  border-radius: 50%;
}

.arregloFooter {
  min-height: calc(100vh - 84px - 126px);
}



