body {
    background-color: #33322E;
    color: #ffffff;
}

.navbar,footer {
    background-color: #00a8b1;
}

#principal {
    margin-top: 80px;
}

.fab{
    font-size: 30px;
    color: #ffffff;
    opacity: 0.8;
}

.fab:hover{
    color: #33322E;
    font-size: 32px;
    opacity: 1;
}

@media (max-width: 576px){
    #tituloError{
        font-size: xx-large;
    }
}